@import "tailwindcss";

body {
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background: rgb(255, 239, 214);

    margin: 0;
}

/* Record Voice Mic Animation */
@keyframes micPulse {
    0% {
        box-shadow: 
            0 0 0 2px rgba(129,0,209,0.25),
            0 0 0 4px rgba(129,0,209,0.15),
            0 0 0 6px rgba(129,0,209,0.08);
    }

    50% {
        box-shadow: 
            0 0 0 5px rgba(129,0,209,0.25),
            0 0 0 10px rgba(129,0,209,0.15),
            0 0 0 15px rgba(129,0,209,0.08);
    }

    100% {
        box-shadow: 
            0 0 0 2px rgba(129,0,209,0.25),
            0 0 0 4px rgba(129,0,209,0.15),
            0 0 0 6px rgba(129,0,209,0.08);
    }
}